.add-to-cart-btn {
    background-color: white;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.add-to-cart-btn:hover {
    background-color: #ff8a00;
    color: white;
}
.add-to-cart {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}