.add-to-cart-btn {
    background-color: rgba(203, 198, 52, 0.504);
    width: 250px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.add-to-cart-btn:hover {
    background-color: #ff8a00;
}
.add-to-cart {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}